body{

background:#0a0a0f;
color:white;
font-family:Arial;
margin:0;

}

header{

display:flex;
justify-content:space-between;
padding:15px;
background:#111;

}

.logo{

font-size:22px;
font-weight:bold;

}

.live{

color:#00ff4c;

}

.dot{

height:10px;
width:10px;
background:#00ff4c;
display:inline-block;
border-radius:50%;

}

.player-container{

max-width:900px;
margin:auto;
padding:10px;

}

video{

width:100%;
border-radius:10px;

}

.ad-top,
.ad-middle{

text-align:center;
margin:20px;

}

.buttons{

text-align:center;

}

.btn{

background:#00ff4c;
color:black;
padding:12px 20px;
margin:10px;
display:inline-block;
border-radius:8px;
text-decoration:none;
border:none;

}

.install{

background:#333;
color:white;

}
